{% extends "base.html" %}

{% block page %}
    {{ super() }}
    <div class="container-wrap">
        <aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url({{ url_for('static', filename='images/vinetree.jpg') }});">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluids">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 slider-text slider-text-bg">
				   				<div class="slider-text-inner text-center">
				   					<h1 style="color: white"><b>About</b></h1>
                                    <h2 style="color: white"><b>Brought to you by <a style="color: white;background-color: #667A23 " href="{{ url_for('main.index') }}" href="http://www.agrib-excellency.com/" target="_blank">agrib-excellency.com</a></b></h2>
                                </div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>

		<div id="fh5co-timeline">
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <ul class="timeline animate-box">
                        <li class="timeline-heading text-center animate-box">
                            <div><h3>Our Experience</h3></div>
                        </li>
                        <li class="animate-box timeline-unverted">
                            <div class="timeline-badge"><i class="icon-genius"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Our Beginnings </h3>
                                </div>
                                <div class="timeline-body">
                                    <p style="color: #0b0b0b">While working with Agricultural producers, researchers and financial Institutions,
                                        We Identified a gap in reliance on Agricultural Innovations and technologies to Increase
                                        Agricultural Productivity in the country. As a result of these inadequacies,
                                        a group of expert consultants came together and AGRIB EXCELLENCY LIMITED was founded.<br>
                                        <b>REASON : </b>To bridge the gap in the use of Agricultural technologies and innovations
                                        to enhance agricultural competitiveness, and to also provide supporting services
                                        in order to promote growth of the sector.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted animate-box">
                            <div class="timeline-badge">
                                <i class="icon-genius"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Our Organization</h3>
                                </div>
                                <div class="timeline-body">
                                    <p style="color: #0b0b0b">We are committed to agricultural development, financing and exposure
                                       of agricultural producers to new technologies and innovations.
                                    </p>
                                    <br>
                                    <h4><b>Our Vision</b></h4> <p style="color: #0b0b0b">Enabling Agricultural Development and Transformation.</p><br>
                                    <h4><b>Our Mission</b></h4>
                                    <p style="color: #0b0b0b">To promote awareness and exposure about agricultural
                                        innovations,trends and supporting services to developing Agricultural projects.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="animate-box timeline-unverted">
                            <div class="timeline-badge"><i class="icon-genius"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Added 200+ Personnel including consultants, Researchers and Scientists</h3>
                                </div>
                                <div class="timeline-body">
                                    <p style="color: #0b0b0b">We are made up of a network of agricultural producers, consultants, researchers
                                        and NGOs that, based on their area of interest in a specified Agricultural field
                                        provide/receive resources to further their endeavours.</p>
                                </div>
                            </div>
                        </li>

                        <br>
                        <li class="timeline-heading text-center animate-box">
								<div><h3>Our Partners</h3></div>
                        </li>
                        <li class="timeline-inverted animate-box">
                            <div class="timeline-badge"><i class="icon-genius"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">In Argentina</h3>
                                    <h4 class="timeline-title"><b><i>Aapresid</i></b></h4>
                                </div>
                                <div class="timeline-body">
                                    <p style="color: #0b0b0b">Argentine Association of Producers in Direct Sowing (Aapresid) is a non-profit
                                        non-governmental organization whose actions are based on openly sharing knowledge
                                        among the members of the network, stimulating leadership and innovation.
                                        It's mission is to Promote sustainable production systems of food, fiber and energy,
                                        through innovation, science and knowledge management in the network.
                                    </p>
                                </div>
                            </div>
                        </li>
{#                        <li class="animate-box timeline-unverted">#}
{#                            <div class="timeline-badge"><i class="icon-genius"></i></div>#}
{#                            <div class="timeline-panel">#}
{#                                <div class="timeline-heading">#}
{#                                    <h3 class="timeline-title">In Europe</h3>#}
{#                                </div>#}
{#                                <div class="timeline-body">#}
{#                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="timeline-inverted animate-box">#}
{#                            <div class="timeline-badge"><i class="icon-genius"></i></div>#}
{#                            <div class="timeline-panel">#}
{#                                <div class="timeline-heading">#}
{#                                    <h3 class="timeline-title">In Asia</h3>#}
{#                                </div>#}
{#                                <div class="timeline-body">#}
{#                                    <p>Far far away, behind the word mountains, they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="animate-box timeline-unverted">#}
{#                            <div class="timeline-badge"><i class="icon-genius"></i></div>#}
{#                            <div class="timeline-panel">#}
{#                                <div class="timeline-heading">#}
{#                                    <h3 class="timeline-title">In Africa</h3>#}
{#                                </div>#}
{#                                <div class="timeline-body">#}
{#                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
                    </ul>
                </div>
            </div>
		</div>

		<div id="fh5co-about" style="padding: 1em 1em">
{#			<div class="row animate-box">#}
{#				<div class="col-md-6 col-md-offset-3 text-center heading-section">#}
{#					<h3>Our Future</h3>#}
{#					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
{#				</div>#}
{#			</div>#}

			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center animate-box">
					<p><img class="img-rounded" style="height: 400px; width: 600px" src="{{ url_for('static', filename='images/jinchuriki.jpg') }}" alt="agrib-excellecy"></p>
				</div>
				<div class="col-md-8 col-md-offset-2 text-center animate-box">
					<div class="about-desc">
						<h3>Hello! We're Agrib-Excellency</h3>
						<p style="color: #0b0b0b">a registered company based in Uganda and operating both nationally and internationally.
                            We are committed to agricultural development, financing and exposure to new technologies and innovations.
                        </p>
						<p>
							<ul class="fh5co-social-icons">
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-linkedin"></i></a></li>
								<li><a href="#"><i class="icon-dribbble"></i></a></li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>
    </div><!-- END container-wrap -->

{% endblock %}
