{% extends "base.html" %}



{% block page %}
    {{ super() }}
    <div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url({{ url_for('static', filename='images/firstwall.jpg') }});">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-7 col-md-offset-3 col-md-pull-3 slider-text">
				   				<div class="slider-text-inner">
                                    <h1 ><b>“Promoting Agribusiness Excellency through Exposure Trips"</b></h1>
                                    <h2 style="background-color: #C7C7C7"><b>Visit other agricultural nations at  <a style="color: #8B008B; background-color: #C7C7C7" href="{{ url_for('main.index') }}" target="_blank">  www.agrib-excellency.com</a></b></h2>
                                    <p><a class="btn btn-primary btn-demo" href="{{ url_for('main.contact') }}"></i> Register</a> <a class="btn btn-primary btn-learn">Learn More</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url({{ url_for('static', filename='images/chicks.jpg') }});">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
				   				<div class="slider-text-inner">
                                    <h1><b>We journey with you step by step into financial success</b></h1>
                                    <h2 ><b>Through <a style="color: #8B008B;" href="http://agrib-excellency.com/" target="_blank">Financial Analysis and Management:</a></b></h2>
                                    <p><a class="btn btn-primary btn-demo" href="{{ url_for('main.about') }}"></i> Find Info</a> <a class="btn btn-primary btn-learn">Learn More</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
				<li style="background-image: url({{ url_for('static', filename='images/grape.png') }});">
						<div class="overlay-gradient"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
									<div class="slider-text-inner">
                                        <h1><b>Journeys For People Who Tell Stories</b></h1>
                                        <h2><b>We help projects acquire <a style="color: #8B008B; background-color: #A6AA58" href="http://agrib-excellency.com/" target="_blank">Funding and Grants</a></b></h2>
										<p><a class="btn btn-primary btn-demo" href="{{ url_for('main.contact') }}"></i> Register</a> <a class="btn btn-primary btn-learn">Learn More</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
			   	<li style="background-image: url({{ url_for('static', filename='images/wheat.jpg') }});">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluids">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 slider-text">
				   				<div class="slider-text-inner text-center">
                                    <h1><b>Platform For Understanding Agricultural Benefits</b></h1>
                                    <h2><b>understand services such as: <a style="color: #8B008B; background-color: #BC8125" href="http://agrib-excellency.com/" target="_blank">Financial Inclusion</a></b></h2>
                                    <p><a class="btn btn-primary btn-demo" href="{{ url_for('main.contact') }}"></i> Register</a> <a class="btn btn-primary btn-learn">Learn More</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url({{ url_for('static', filename='images/cottn.jpg') }});">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
				   				<div class="slider-text-inner">
                                    <h1><b>We transform Complex Projects into success stories</b></h1>
                                    <h2 ><b style="background-color: #C7C7C7"> We <a  style="color: #8B008B;" href="http://agrib-excellency.com/" target="_blank">manage Projects </a>and facilitate them to completion</b></h2>
                                    <p><a class="btn btn-primary btn-demo" href="#"></i> View Infor</a> <a class="btn btn-primary btn-learn">Learn More</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
        <div id="fh5co-about" class="fh5co-section">
                <div class="row">
                    <div class="col-md-6 img-wrap animate-box" data-animate-effect="fadeInLeft">
                        <img class="img-responsive img-rounded" src="{{ url_for('static', filename='images/irrigationOne.jpg') }}" alt="">
                    </div>
                    <div class="col-md-5 animate-box">
                        <div class="section-heading">
                            <h2 style="color: #0b0b0b">Agrib-Excellency</h2>
                            <p style="color: #0b0b0b">
                                is a registered company based in Uganda and operating both nationally and internationally.
                                We are committed to agricultural development, financing and exposure to new technologies and innovations.
                            </p>
                            <p><a href="{{ url_for('main.about') }}" class="btn btn-primary btn-outline">More Details</a></p>
                        </div>
                    </div>
                </div>
        </div>

        <div id="fh5co-tours" class="fh5co-section-gray">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                        <h2>Upcoming Trips</h2>
                        <p style="font-size: 16px">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                        <div href="#"><img src="{{ url_for('static', filename='images/agriwallpaper.jpg') }}" alt="" class="img-responsive">
                            <div class="desc">
                                <span></span>
                                <h3>Argentina</h3>
                                <span>Mega Agribusiness Expo</span>
                                <!--<span class="price">$1,000</span>-->
                                <a class="btn btn-primary btn-outline" href="{{ url_for('main.argentina_expo') }}">Schedule Trip <i class="icon-arrow-right22"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                        <div href="#"><img src="{{ url_for('static', filename='images/pineappleFields.jpg') }}" alt="" class="img-responsive">
                            <div class="desc">
                                <span></span>
                                <h3>Announcing soon</h3>
                                <span>Coming Soon</span>
                                <!--<span class="price">$1,000</span>-->
                                <a class="btn btn-primary btn-outline" >Announcing Soon <i class="icon-arrow-right22"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                        <div href="#"><img src="{{ url_for('static', filename='images/lavenderFields.jpg') }}" alt="" class="img-responsive">
                            <div class="desc">
                                <span></span>
                                <h3>Announcing soon</h3>
                                <span>Coming Soon</span>
                                <!--<span class="price">$1,000</span>-->
                                <a class="btn btn-primary btn-outline" >Announcing Soon <i class="icon-arrow-right22"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center animate-box">
                        <p><a class="btn btn-primary btn-outline btn-lg" >All Trips to be displayed soon <i class="icon-arrow-right22"></i></a></p>
                    </div>
                </div>
        </div>

		<div id="fh5co-services">
            <div class="row animate-box">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                    <h2>Our Services Include</h2>
                    <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                </div>
            </div>
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-search"></i>
						</span>
						<div class="desc">
							<h3><a href="{{ url_for('main.work_single') }}">AGRICULTURE EXPOSURE STUDY TRIPS</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                            <p><a href="{{ url_for('main.work_single') }}">Learn More</a></p>
						</div>
					</div>
				</div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
						<span class="icon">
							<i class="icon-wallet"></i>
						</span>
                        <div class="desc">
                            <h3><a href="{{ url_for('main.work_single') }}">FUND MANAGEMENT</a></h3>
                            <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                            <p><a href="{{ url_for('main.work_single') }}">Learn More</a></p>
                        </div>
                    </div>
                </div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-hotairballoon"></i>
						</span>
						<div class="desc">
							<h3><a href="{{ url_for('main.work_single') }}">PROJECT MANAGEMENT</a></h3>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                            <p><a href="{{ url_for('main.work_single') }}">Learn More</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-work" class="fh5co-light-grey">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>We also Provide Consultancy and Training Facilitation in:</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<a href="{{ url_for('main.work_single') }}" class="work"  style="background-image: url({{ url_for('static', filename='images/agriculturalFinancing.jpg') }});">
						<div class="desc">
                            <h3><b>AGRICULTURAL FINANCING</b></h3>
							<span>Illustration</span>
						</div>
                        <!--<h5><b>AGRICULTURAL FINANCING</b></h5>-->
					</a>
                    <h5><b>AGRICULTURAL FINANCING</b></h5>
				</div>
				<div class="col-md-4 text-center animate-box">
					<a href="{{ url_for('main.work_single') }}" class="work" style="background-image: url({{ url_for('static', filename='images/grantMGT.jpg') }});">
						<div class="desc">
                            <h3><b>GRANT MANAGEMENT</b></h3>
							<span>Brading</span>
						</div>
					</a>
                    <h5><b>GRANT MANAGEMENT</b></h5>
				</div>
				<div class="col-md-4 text-center animate-box">
					<a href="{{ url_for('main.work_single') }}" class="work" style="background-image: url({{ url_for('static', filename='images/stockMakt.jpg') }});">
						<div class="desc">
                            <h5><b>FINANCIAL ANALYSIS & MGT</b></h5>
							<span>Illustration</span>
						</div>
					</a>
                    <h5><b>FINANCIAL ANALYSIS & MGT</b></h5>
				</div>
			</div>
            <div class="row">
                <div class="col-md-4 text-center animate-box">
                    <a href="{{ url_for('main.work_single') }}" class="work"  style="background-image: url({{ url_for('static', filename='images/creditAnalysis.jpg') }});">
                        <div class="desc">
                            <h3><b>CREDIT ANALYSIS & MGT</b></h3>
                            <span>Illustration</span>
                        </div>
                    </a>
                    <h5><b>CREDIT ANALYSIS & MGT</b></h5>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <a href="{{ url_for('main.work_single') }}" class="work" style="background-image: url({{ url_for('static', filename='images/loans.jpg') }});">
                        <div class="desc">
                            <h3><b>AGRIC LOANS GUARANTEE SCHEMES</b></h3>
                            <span>Brading</span>
                        </div>
                    </a>
                    <h5><b>AGRIC LOANS GUARANTEE SCHEMES</b></h5>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <a href="{{ url_for('main.work_single') }}" class="work" style="background-image: url({{ url_for('static', filename='images/financialInclusion.jpg') }});">
                        <div class="desc">
                            <h3><b>FINANCIAL INCLUSION</b></h3>
                            <span>Illustration</span>
                        </div>
                    </a>
                    <h5><b>FINANCIAL INCLUSION</b></h5>
                </div>
            </div>
		</div>

		<div id="fh5co-counter" class="fh5co-counters">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center animate-box">
					<p>We have a fun facts far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2">
					<div class="row">
						<div class="col-md-3 text-center">
							<span class="fh5co-counter js-counter" data-from="0" data-to="345" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Projects Facilitated</span>
						</div>
						<div class="col-md-3 text-center">
							<span class="fh5co-counter js-counter" data-from="0" data-to="344" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label"> Happy Clients</span>
						</div>
						<div class="col-md-3 text-center">
							<span class="fh5co-counter js-counter" data-from="0" data-to="3" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">yearly trips</span>
						</div>
						<div class="col-md-3 text-center">
							<span class="fh5co-counter js-counter" data-from="0" data-to="8687" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Happy Agriculturalists</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-blog" class="blog-flex">
			<div class="featured-blog" style="background-image: url({{ url_for('static', filename='images/blog-1.jpg') }});">
				<div class="desc-t">
					<div class="desc-tc">
						<span class="featured-head">Featured Posts</span>
						<h3><a href="#">Top 20 Upcoming projects and trips for 2020</a></h3>
						<span><a href="#" class="read-button">Learn More</a></span>
					</div>
				</div>
			</div>
			<div class="blog-entry fh5co-light-grey">
				<div class="row animate-box">
					<div class="col-md-12">
						<h2>Latest Posts</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box">
						<a href="#" class="blog-post">
							<span class="img" style="background-image: url({{ url_for('static', filename='images/blog-2.jpg') }});"></span>
							<div class="desc">
								<h3>26 Best Educational Insights into the best irrigation technologies</h3>
								<span class="cat">Collection</span>
							</div>
						</a>
					</div>
					<div class="col-md-12 animate-box">
						<a href="#" class="blog-post">
							<span class="img" style="background-image: url({{ url_for('static', filename='images/blog-1.jpg') }});"></span>
							<div class="desc">
								<h3>16 Outstanding Capital Market facts</h3>
								<span class="cat">Collection</span>
							</div>
						</a>
					</div>
					<div class="col-md-12 animate-box">
						<a href="#" class="blog-post">
							<span class="img" style="background-image: url({{ url_for('static', filename='images/blog-3.jpg') }});"></span>
							<div class="desc">
								<h3>16 Outstanding Capital Market facts</h3>
								<span class="cat">Collection</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- END container-wrap -->
{% endblock %}

