{% extends "base.html" %}

{% block page %}
    {{ super() }}
    <div class="container-wrap">
		<div id="fh5co-contact">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Register for the Trip to Argentina</h2>
					<p>Fill in the Form to be added onto the List. We will contact you to provide further information about the trip</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7 col-md-push-1 animate-box">
					<div class="row">
						<form method="post">
                            {{ form.hidden_tag() }}
                            <div class="col-md-12">
							    <div class="form-group">
                                  {{ form.first_name.label }}  {{ form.first_name(class='form-control', placeholder="First Name") }}
							    </div>
						    </div>
                             <div class="col-md-12">
							    <div class="form-group">
                                  {{ form.last_name.label }}  {{ form.last_name(class='form-control', placeholder="Last Name") }}
							    </div>
						    </div>
						    <div class="col-md-12">
							    <div class="form-group">
                                    {{ form.email.label }} {{ form.email(class='form-control', placeholder="Email") }}
							    </div>
						    </div>
                             <div class="col-md-12">
							    <div class="form-group">
                                    {{ form.phone.label }} {{ form.phone(class='form-control', placeholder="phone number") }}
							    </div>
						    </div>
						    <div class="col-md-12">
							    <div class="form-group">
                                    {{ form.message.label }} {{ form.message(class='form-control',cols='30', rows='7', placeholder='Type here any questions that you want us to answer') }}
							    </div>
						    </div>
						    <div class="col-md-12">
							    <div class="form-group">
                                    {{ form.submit(class='btn btn-primary btn-modify') }}
							    </div>
						    </div>
                        </form>
					</div>

				</div>
			</div>
		</div>
	</div><!-- END container-wrap -->
{% endblock %}